<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Пользователи</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script>
        function getClientById(id) {
            const clientDataContainer = document.getElementById('clientDataContainer');
            fetch('api/client/' + id)
                .then(response => response.json())
                .then(client => clientDataContainer.innerHTML = JSON.stringify(client));
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="client">Создать нового клиента</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <pre id = "clientDataContainer"></pre>
        </div>
        <h4>Список клиентов</h4>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td style="width: 50px">Id</td>
                        <td style="width: 150px">Имя</td>
                        <td style="width: 100px">Адрес</td>
                        <td style="width: 100px">Телефоны</td>
                    </tr>
                </thead>
                <tbody>
                <#list clientsList as item>
                    <tr>
                        <td><a href="#" onclick="return getClientById(${item.id})">${item.id}</a></td>
                        <td>${item.name}</td>
                        <td>${item.address}</td>
                        <td>
                            <#list item.phones as phone>
                                ${phone}<br>
                            </#list>
                        </td>
                    </tr>
                </#list>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
